@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes appear2 {
  0% {
    opacity: 0;
    transform: translateY(500px);
    border-radius: 100px;
  }
  30%{
    opacity: 1;
    transform: translateY(0);
  }
  80%{
    transform: rotate(180deg);
    border-radius: 0;
  }
  100%{
    transform: rotate(270deg);
    border-radius: 0;
  }
}

.App {
  text-align: center;
  
}

body {
  margin: 0;
  padding: 0;
  width:100%;
  height:100%;
  text-align:center;
  background-color: #b3ffcc;
  background-position:50% 0;
  background-repeat:no-repeat;

}
.box4{
 
  width:90px;
  height:90px;
  background-color: rgb(19, 30, 129);
  display: inline-block;
  margin-bottom: 50px;
  animation: appear2 3s 0.5s forwards;
  margin-right: 10px;
}
.box5{
  
  width:90px;
  height:90px;
  background-color: rgb(242, 247, 243);
  display: inline-block;
  margin-bottom: 50px;
  animation: appear2 3s 0.5s forwards;
  margin-right: 10px;
  
}
.box6{
  
  width:90px;
  height:90px;
  background-color: rgb(214, 37, 52);
  display: inline-block;
  margin-bottom: 50px;
  animation: appear2 3s 0.5s forwards;
}


.stronaGlowna h1, ul{
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  color:black;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #c91313;
}

.button1:hover {
  background-color: #c91313;
  color: white;
}

.button2 {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

.button2:hover {
  background-color: #008CBA;
  color: white;
}

.wyswietlanie table{
  width: 100%;
  height: 50%;
  border-spacing: 50px;
  
}


.dodaj input{
  width:10%;
  border: 2px solid red;
  border-radius: 4px;
}
.search input{
    width:10%;
    border: 2px solid red;
    border-radius: 4px;
}

.dodaj p{
  margin-left: auto;
}

.dodaj button{
  margin-left: auto;
}

table{
  counter-reset: rowNumber -1;
}
  
table tr{
  counter-increment: rowNumber;
}
  
table tr td:first-child::before {
  content: counter(rowNumber);
  min-width: 1em;
  margin-right: 0.5em;
}
.topnav {
  background-color: rgba(0,0,0,0.5);
  overflow: hidden;
}
.topnav a {
  float: center;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.box {
  width:150px;
  height:auto;
  background-color: #1a5a2f;
  animation-name: appear;
  animation-duration: 5s;
  color: white;
  margin-left: auto;
  margin-right: auto;
  animation-fill-mode: both;
  animation-direction: reverse;
  animation-iteration-count: infinite;
  
}
